.blog_index {
  ol {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }
}

article {
  margin-bottom: 80px;
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    color: #BC7634;
  }

  .publish-date {
    color: gray;
    margin: 0;
    line-height: 1em;
  }

  li {
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }
}

.blog {
  background: #eee;

  a {
    color: #BC7634;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);

    &:hover {
      text-decoration: underline;
    };
  }

  .social {
    float: right;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .github-link, .twitter-link, .linkedin-link, .rss-link {
    font-size: 3em;

    text-decoration: none;
    margin-left: 0.5em;
    color: #BABABA;

    &:hover {
      color: white;
    }
  }

  .github-link { @include replace-by-icon($GITHUB_ICON) };
  .twitter-link { @include replace-by-icon($TWITTER_ICON) };
  .linkedin-link { @include replace-by-icon($LINKEDIN_ICON) };
  .rss-link { @include replace-by-icon($RSS_ICON) };

  .header-container {
    background: #2E2E2E;
    margin-bottom: 2em;
  }

  .header {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0.5em 0;

    a:hover { text-decoration: none; }

    .blog-by {
      font-family: 'Noto Sans', sans-serif;
      margin: 0;
      color: white;
      font-size: 2em;
    }
  }
}

.blog-post {
  article {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
  }
}
