.index {
  background: #BC7634;
  color: white;

  .content {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .github-link, .blog-link, .twitter-link, .linkedin-link {
    font-size: 4em;
    margin-right: 0.2em;
    color: white;

    &:hover {
      color: #D6E716;
      text-decoration: none;
    }
  }

  .github-link { @include replace-by-icon($GITHUB_ICON) };
  .blog-link { @include replace-by-icon($BLOG_ICON) };
  .twitter-link { @include replace-by-icon($TWITTER_ICON) };
  .linkedin-link { @include replace-by-icon($LINKEDIN_ICON) };

  h1 {
    font-family: 'code_lightregular';
    color: white;
    font-size: 3em;
    letter-spacing: 0.1em;
  }

  a {
    color: #D6E716;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    color: #BC7634;
    font-weight: normal;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
