.blog_index {
  ol {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 80px;
  }

  h1 {
    font-family: 'code_lightregular';
    font-size: 3em;
    margin-bottom: 0.3em;
  }
}

.blog {
  background: rgb(230, 230, 230);

  a {
    color: #BC7634;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);

    &:hover {
      text-decoration: underline;
    };
  }

  .blog-link, .home-link {
    float: right;
    font-size: 2em;

    text-decoration: none;
    margin-left: 1em;
    color: rgb(119, 119, 119);

    &:hover {
      color: white;
    }
  }

  .home-link {
    @include replace-by-icon($HOME_ICON);
  }

  .blog-link {
    @include replace-by-icon($BLOG_ICON);
  }

  .header-container {
    background: #2E2E2E;
  }

  .header {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 0;

    a:hover { text-decoration: none; }

    .blog-by {
      font-family: 'code_lightregular';
      margin: 0;
      color: #BC7634;
      font-size: 2em;
      letter-spacing: 0.1em;
    }

    .headline {
      color: rgb(119, 119, 119);
      font-size: 1.2em;
      display: none;

      @media screen and (min-width: 800px) {
        display: inline;
      }
    }
  }
}

.blog-post {
  article {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    header {
      margin-bottom: 50px;
    }

    h1 {
      font-family: 'code_boldregular';
      font-size: 4em;
      text-align: center;
      margin-bottom: 0;
      margin-top: 40px;
    }

    .publish-date {
      text-align: center;
      margin-top: 20px;
    }

    font-size: 1.25em;

    p {
      margin: 30px 0;
    }

    li {
      margin-bottom: 10px;
    }
  }
}