.blog_index {
  ol {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 80px;
  }

  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 0.3em;
  }

  article p {
    font-size: 1.2em;
    line-height: 1.4;
  }

  .publish-date {
    color: gray;
    margin: 0;
    line-height: 1em;
  }
}

.blog {
  background: rgb(230, 230, 230);

  a {
    color: #BC7634;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);

    &:hover {
      text-decoration: underline;
    };
  }

  .blog-link, .home-link {
    float: right;
    font-size: 2em;

    text-decoration: none;
    margin-left: 1em;
    color: rgb(119, 119, 119);

    &:hover {
      color: white;
    }
  }

  .home-link {
    @include replace-by-icon($HOME_ICON);
  }

  .blog-link {
    @include replace-by-icon($BLOG_ICON);
  }

  .header-container {
    background: #2E2E2E;
  }

  .header {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    padding: 1em 0;

    a:hover { text-decoration: none; }

    .blog-by {
      font-family: 'code_lightregular';
      margin: 0;
      color: #BC7634;
      font-size: 2em;
      letter-spacing: 0.1em;
    }
  }
}

.blog-post {
  article {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;

    h1 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 40px;
    }

    .publish-date {
      color: gray;
      margin: 0px;
    }

    font-size: 1.2em;
    line-height: 1.4;

    li {
      margin-bottom: 10px;
    }
  }
}
