$HOME_ICON: 'S';
$BLOG_ICON: 'Û';
$GITHUB_ICON: 'U';
$TWITTER_ICON: '^';
$LINKEDIN_ICON: 'T';
$RSS_ICON: 'Æ';

@include font-face('RaphaelIcons',
  font-files(
    'raphaelicons-webfont.woff',
    'raphaelicons-webfont.ttf',
    'raphaelicons-webfont.svg')
  );

@mixin icon-font {
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  font-family: 'RaphaelIcons';
}

@mixin replace-by-icon($char) {
  @include icon-font;
  span { display: none; }
  &:before { content: $char;}
}
