@charset "utf-8";
@import "compass/css3";
@import "compass/css3/font-face";
@import "viewport";
@import "blog";
@import "index";

@include font-face('RaphaelIcons',
  font-files(
    'raphaelicons-webfont.woff',
    'raphaelicons-webfont.ttf',
    'raphaelicons-webfont.svg')
  );

@include font-face('code_lightregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

@include font-face('code_boldregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 21 px;
}