
@charset "utf-8";
@import "compass/css3";
@import "compass/css3/font-face";

@include font-face('RaphaelIcons',
  font-files(
    'raphaelicons-webfont.woff',
    'raphaelicons-webfont.ttf',
    'raphaelicons-webfont.svg')
  );

@include font-face('code_lightregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}


@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

body {
  background: #2E2E2E;
  font-family: helvetica;
  font-weight: lighter;
  color: #BABABA;
  font-size: 21 px;
}

.me {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  font-family: 'code_lightregular';
  color: #BC7634;
  font-size: 3em;
  letter-spacing: 0.1em;
}

a {
  color: #BABABA;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(0.1s);
  @include transition-timing-function(ease-out);

  &:hover {
    color: #BC7634;
  };
}

strong {
  color: #BC7634;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}

.icon {
  font-size: 4em;
  margin-right: 0.5em;
}