@charset "utf-8";
@import "compass/css3";
@import "compass/css3/font-face";
@import "viewport";
@import "blog";
@import "index";

@include font-face('RaphaelIcons',
  font-files(
    'raphaelicons-webfont.woff',
    'raphaelicons-webfont.ttf',
    'raphaelicons-webfont.svg')
  );

@include font-face('code_lightregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

@include font-face('code_boldregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
  }

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 21 px;
}

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// fix for font face rendering on iOS
// http://stackoverflow.com/questions/5069752/ios-4-2-webfont-ttf-s-bold-font-weight-rendering-bug
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}