@charset "utf-8";
@import "compass/css3";
@import "compass/css3/font-face";
@import "icon";
@import "viewport";
@import "blog";
@import "index";
@import "highlight";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@include font-face('code_lightregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

@include font-face('code_boldregular',
  font-files(
    'code_light-webfont.eot',
    'code_light-webfont.woff',
    'code_light-webfont.ttf',
    'code_light-webfont.svg')
  );

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 21 px;
}

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// fix for font face rendering on iOS
// http://stackoverflow.com/questions/5069752/ios-4-2-webfont-ttf-s-bold-font-weight-rendering-bug
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}