
<div class='jasmine-book'>

  <h1>Jasmine JavaScript Testing</h1>
  <h2><a href="http://www.packtpub.com/jasmine-javascript-testing/book">Buy</a></h2>
  <h2><a href="bonus_chapters.zip">Bonus chapters</a></h2>

</div>
