<div class='header-container'>
  <div class='header'>
    <a class='blog-by' href="/blog">Paulo Ragonha</a>
    <a class='linkedin-link' href="http://linkedin.com/in/pirelenito" title='LinkedIn'><span>LinkedIn</span></a>
    <a class='twitter-link' href="http://twitter.com/pirelenito" title='Twitter'><span>Twitter</span></a>
    <a class='github-link' href="http://github.com/pirelenito" title='GitHub'><span>GitHub</span></a>
  </div>
</div>

<ol>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <article>
        <h1><%= link_to article.title, article %></h1>

        <p class='publish-date'>Posted by <a href="/">Paulo Ragonha</a> on <time><%= article.date.strftime('%e %B, %Y') %></time></p>
        <%= article.summary(1000) %>


        <%= link_to 'Continue reading...', article if article.data['read_more'] %>
      </article>
    </li>
  <% end %>
</ol>
