
<div class='me'>

  <h1>Paulo Ragonha</h1>

  <p>I am a <strong>software engineer</strong> from Brazil with a lot of <strong>enthusiasm</strong>. I love product development, pair programming and I consider myself a developer with a foot on design (I try really hard).</p>

  <p><strong>Ruby</strong>, <strong>JavaScript</strong>, Node.js and Singe Page Web Applications are some of my current passions.</p>

  <p>
    <a class='github-link' href="http://github.com/pirelenito" title='GitHub'><span>GitHub</span></a>
    <a class='blog-link' href="blog" title='Blog'><span>Blog</span></a>
    <a class='twitter-link' href="http://twitter.com/pirelenito" title='Twitter'><span>Twitter</span></a>
    <a class='linkedin-link' href="http://linkedin.com/in/pirelenito" title='LinkedIn'><span>LinkedIn</span></a>
  </p>

  <div class='avatar'></div>

</div>