
<div class='me'>

  <h1>Paulo Ragonha</h1>

  <p>I am a <strong>software engineer</strong> from Brazil with a lot of <strong>enthusiasm</strong>. I love product development, pair programming and I consider myself a developer with a foot on design (I try really hard).</p>

  <p><strong>Ruby</strong>, <strong>JavaScript</strong>, Node.js and Singe Page Web Applications are some of my current passions.</p>

  <p>
    <a href="http://github.com/pirelenito"><span class='icon'>U</span></a>
    <a href="blog"><span class='icon'>Û</span></a>
    <a href="http://twitter.com/pirelenito"><span class='icon'>^</span></a>
    <a href="http://linkedin.com/in/pirelenito"><span class='icon'>T</span></a>
  </p>

  <div class='avatar'></div>

</div>